@import "../common/_mixins.scss";

.founders {
  background-color: #111;
  color: #fff;
  font-size: 1.5rem;
  padding: 6rem 2rem 3rem;
  text-align: center;
  position: relative;
  z-index: 1;
  overflow: hidden;

  @include tablet-landscape() {
    padding: 6rem 1rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
  }

  @include big-desktop {
    padding: 3rem;
    height: 100%;
  }

  h1 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 3.6rem;

    @include phone() {
      font-size: 2rem;
      line-height: 2.5rem;
    }
  }

  .foundersContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    margin-top: 2rem;

    @include desktop() {
      flex-direction: row;
      margin: 0 auto;
      width: 90%;
    }

    @include big-desktop() {
      width: 80%;
      gap: 3rem;
      justify-content: center;
    }

    .founderCard {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border: 2px solid #c788ff;
      border-radius: 28px;
      padding: 1rem;

      &:nth-child(2) {
        order: 1;
      }

      &:nth-child(1) {
        order: 2;
      }

      &:nth-child(3) {
        order: 3;
      }

      @include tablet() {
        width: 80%;
      }

      @include tablet-landscape() {
        width: 60%;
      }

      @include desktop() {
        width: 30%;

        &:nth-child(1) {
          order: 1;
        }

        &:nth-child(2) {
          order: 2;
        }

        &:nth-child(3) {
          order: 3;
        }
      }

      .quoteIcon {
        color: #c788ff;
        margin-bottom: 1rem;
      }

      p {
        text-align: center;
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 500;
        margin-bottom: 1rem;

        @include phone() {
          font-size: 0.9rem;
          line-height: 1.3rem;
        }
      }
    }
  }
}

.team {
  background-color: #111;
  color: #fff;
  font-size: 1.5rem;
  padding: 3rem 2rem;
  text-align: center;
  position: relative;
  z-index: 1;
  overflow: hidden;

  @include tablet-landscape() {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding: 3rem 1rem;
  }

  @include big-desktop {
    padding: 3rem;
    height: 100%;
  }

  h1 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 3.6rem;

    @include phone() {
      font-size: 2rem;
      line-height: 2.5rem;
    }
  }

  .teamContainer {
    border: 2px solid #c788ff;
    border-radius: 30px;
    width: 100%;
    margin: 2rem auto 0;
    display: flex;
    align-items: center;
    position: relative;

    @include tablet() {
      width: 90%;
    }

    @include desktop() {
      margin: 0;
    }

    @include big-desktop() {
      width: 80%;
    }

    .userCard {
      margin: 2rem;
      cursor: pointer;
    }

    .userCard:hover {
      transform: scale(1.4);
      transition: all 0.3s ease-in-out;
    }
  }

  .userInfo {
    // display: none;
    border: 2px solid #fff;
    border-radius: 21px;
    background-color: #0f1923;
    padding: 0.8rem 3rem;
    // position: absolute;
    bottom: 0;

    width: 100%;
    height: 110px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 1rem auto 0;

    @include tablet-landscape() {
      width: fit-content;
      height: unset;
      margin: 0;
      margin-top: -2rem;
    }

    h2 {
      font-size: 1.2rem;
      line-height: 1.5rem;

      @include tablet() {
        font-size: 1.5rem;
        line-height: 1.9rem;
      }
    }

    p {
      font-size: 0.9rem;
      color: #a13cfb;
    }
  }

  //
}
