@import "../common/_mixins.scss";

.team {
  background-color: #111;
  color: #fff;
  font-size: 1.5rem;
  padding: 3rem 2rem;
  text-align: center;
  position: relative;
  z-index: 1;
  overflow: hidden;

  @include tablet-landscape() {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding: 3rem 1rem;
  }

  @include big-desktop {
    padding: 3rem;
    height: 100%;
  }

  h1 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 3.6rem;

    @include phone() {
      font-size: 2rem;
      line-height: 2.5rem;
    }
  }

  .teamContainer {
    border: 2px solid #c788ff;
    border-radius: 30px;
    width: 100%;
    margin: 2rem auto 0;
    display: flex;
    align-items: center;
    position: relative;

    @include tablet() {
      width: 90%;
    }

    @include desktop() {
      margin: 0;
    }

    @include big-desktop() {
      width: 80%;
    }

    .userCard {
      margin: 2rem;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
    }

    .userCard:hover {
      transform: scale(1.4);
    }
  }

  .userInfo {
    // display: none;
    border: 2px solid #fff;
    border-radius: 21px;
    background-color: #0f1923;
    padding: 0.8rem 3rem;
    // position: absolute;
    bottom: 0;

    width: 100%;
    height: 110px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 1rem auto 0;

    @include tablet-landscape() {
      width: fit-content;
      height: unset;
      margin: 0;
      margin-top: -2rem;
    }

    h2 {
      font-size: 1.2rem;
      line-height: 1.5rem;

      @include tablet() {
        font-size: 1.5rem;
        line-height: 1.9rem;
      }
    }

    p {
      font-size: 0.9rem;
      color: #a13cfb;
    }
  }

  //
}
